<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Planets Index</title>
  </head>
  <body>
    <div class="container">
      <div class="top-links">
        <a href="/planet/new">Add New Planet</a>
        <a href="/">Back home</a>
      </div>
      <h1>All planets</h1>
      <ul>
        <% planets.forEach(planet => { %>
        <li>
          <a href="/planet/<%= planet._id %>"> <%= planet.name %> </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
