<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Planets Index</title>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/nav') %>

      <h1>All planets</h1>
      <% if (planets.length === 0) { %>
      <p>There are no planets yet.</p>
      <p>
        <a href="/planet/new">Add the first planet</a>
      </p>
      <% } else { %>
      <ul>
        <% planets.forEach((planet) => { %>
        <li>
          <a href="/planet/<%= planet._id %>"><%= planet.name %></a>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
